.post-md pre,
.post-md .highlight {
  background: #2d2d2d;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 20.480000000000004px;
}
.post-md .highlight .gutter pre,
.post-md .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.post-md pre,
.post-md code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, sans-serif, "notoserifsc-medium", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei";
}
.post-md code {
  background: #eee;
  padding: 0 0.3em;
}
.post-md pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.post-md .highlight {
  font-size: 14.8px;
}
.post-md .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.post-md .highlight table {
  margin: 0;
  width: auto;
  padding: 0px 0 !important;
  border-bottom: none !important;
  background: none !important;
}
.post-md .highlight td {
  border: none;
  padding: 0;
  padding: 0px 0 !important;
  border-bottom: none !important;
  background: none !important;
}
.post-md .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.post-md .highlight figcaption:before,
.post-md .highlight figcaption:after {
  content: "";
  display: table;
}
.post-md .highlight figcaption:after {
  clear: both;
}
.post-md .highlight figcaption a {
  float: right;
}
.post-md .highlight .gutter {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post-md .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.post-md .highlight .line {
  height: 20.480000000000004px;
}
.post-md .highlight .line.marked {
  background: #515151;
}
.post-md .gist {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0;
}
.post-md .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, sans-serif, "notoserifsc-medium", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei";
  margin: 0;
}
.post-md .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.post-md .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.post-md .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.post-md .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.post-md .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.post-md .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.post-md .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
